* {
  box-sizing: border-box !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: normal !important;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}

:root {
  --primary-hover: #358167;
  --primary: #036141;
  --primary-active: #03583b;
  --primary-a: #0361424d;
  --gray: #9ca2a74c;
  --dg: #979494;
  --a: #026641;
}

a {
  text-decoration: none !important;
}

#appContainer {
  height: 100vh !important;
  margin: 0 auto;
  max-width: 480px !important;
  align-items: flex-start;
  position: relative !important;
  padding-bottom: 80px;
  gap: 0 !important;
  /* justify-content: space-between; */
}

.btn {
  padding: 6px 16px !important;
  border-radius: 8px !important;
  font-size: 13px !important;
  font-weight: 700 !important;
}
.btnKotak {
  border-radius: 0 !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  padding: 16px !important;
  text-align: center;
}
.primaryBtn {
  background: var(--primary) !important;
  color: white !important;
}
.primaryBtn:hover {
  background: var(--primary-hover) !important;
}
.primaryBtn:active {
  background: var(--primary-active) !important;
}

.input {
  height: 40px;
  background: white !important;
}
.input:focus-visible {
  box-shadow: 0 0 0 1px var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.modalProps {
  max-width: 480px !important;
  width: 100%;
  margin: 0 auto;
  /* position: relative; */
}

.textPrimary {
  color: var(--primary) !important;
  font-weight: 700 !important;
}

.pinField {
  height: 60px !important;
  width: 60px !important;
  font-size: 32px !important;
  padding: 0 !important;
  padding-bottom: 6px !important;
}
.pinField:focus-visible {
  box-shadow: 0 0 0 1px var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.bs {
  box-shadow: 0 0 5px var(--gray);
  border-radius: 8px !important;
}
.bo {
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.nav {
  position: fixed;
  width: 100%;
  justify-content: center;
  height: 80px;
  bottom: 0;
  left: 0;
  background: white !important;
}
.navItem {
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 70px;
  padding: 16px;
}
.nav .navName {
  font-size: 10px;
  font-weight: 600;
  color: var(--dg);
  text-align: center;
}
.visitedNav {
  font-weight: 800 !important;
  color: var(--primary) !important;
}

.size {
  transition: 0.1s;
}
.unselectedSize {
  background: #f2f0ea;
  color: black;
}
.selectedSize {
  background: var(--primary);
  color: white;
}
